@{
    ViewBag.Title = "FrontPage";
}
<h1 class="titulodepagina">Bienvenido a "SUPERMERCADO"</h1>
<h3>"Supermercado" es una de las cadenas más grande de supermercados en Bolivia con una política de precios bajos y ofertas, variedad y surtido en productos y cercanía para la comodidad de nuestros clientes, tambien cuenta con el servicio de realidad virtual mediante el cual se puede realizar la compra en la comodidad de tu casa o donde tu prefieras y los productos seran llevados hasta donde estes</h3>

<h4>"Supermercado" cuenta con las siguientes sucursales:</h4>
<p>Supermercado</p>
<p>Av Juan de La Rosa</p>
<p>4 4489278</p>
<p>-----------------------------</p>
<p>Supermercado</p>
<p>Av America y German Urquidi</p>
<p>4 448927</p>


    